@import './base.css';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#app {
  max-width: 100vw;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.router-link-active {
  cursor: not-allowed;
  opacity: 0.75;
  color: black;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 0 0.5rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bg-sky {
  background-color: skyblue;
  font-weight: bold;
}

table {
  width: 100%;
  border-spacing: 0px;
}

th,
td {
  border-bottom: 1px solid black;
  padding: 4px 15px;
  text-align: left;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

.add-button {
  display: inline-block;
  margin: .5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    
  }
}
