$primary : #00bd7e;
$secondary : #00bd7e;
$accent : #00bd7e;

$dark : #3e3d3d;

$positive : #00bd7e;
$negative : #ef0038;
$info : #31CCEC;
$warning : #ff9900;

*::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: #f5f5f5;
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color:  $accent;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #f5f5f5;
    /* creates padding around scroll thumb */
}

a {
    color: $accent;
}

.q-table th {
    text-align: left;
    font-weight: bold !important;
    text-transform: uppercase;
}

// @import 'quasar/src/css/index.scss';
// Import Quasar css
@import '../../node_modules/quasar/src/css/index.sass'